<!DOCTYPE html>

<html lang="en">

<!-- 
Params passed:
    page: 'Tasks',
    menuId: 'home',
    login: req.session.user,
    tasks: tasks 
-->

<head>
    <% include partials/head %>
</head>

<body>
    <%- include('partials/taskMenu', {login: login}); %>

    
    <div class="container-fluid bg-3 text-center">
        <br>
        <h3>Tasks from API</h3>
        This recives tasks from <a href="http://demo2.z-bit.ee">http://demo2.z-bit.ee</a>
    </div>

    
    <div class="wrapper">

        <div class="formWrapper card">
            <div class="card-body">
                <form name="makeTask" action="/tasks/makeTask" method="POST">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <!-- <label for="Title">Task title</label> -->
                                <input type="Title" name="Title" class="form-control" id="Title"
                                    placeholder="Bring eggs">
                                <small id="TitleHelp" class="form-text text-muted">The title of your task</small>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <!-- <label for="Desc">Description</label> -->
                                <input type="Desc" class="form-control" name="Desc" id="Desc"
                                    placeholder="We need about 10">
                                <small id="DescHelp" class="form-text text-muted">You can describe your task
                                    here</small>
                                <!-- <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Complete">
                                    <label class="form-check-label" for="Complete">Task is complete</label>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary taskBtn">Create</button>
                </form>
                <%if (typeof ErrorMsg != 'undefined') { %>
                    <br>
                    <p class="text-danger"><%-ErrorMsg%></p>
                <% } %>
            </div>
        </div>

        
        <%if (typeof tasks[0] == 'undefined') { %>
            <br>
            <h5>You can start by making a task</h5>
            <% } %>
        <%if (typeof tasks[0] != 'undefined') { %>
            <h4>Tasks</h4>
        <% } %>

        <div class="row">

            <% for(var i = tasks.length - 1; i >= 0; i--) { %>
            <form name="makeTask" action="/tasks/edit" method="POST">
                <input type="hidden" value=<%=tasks[i].id%> name="id" />
                <input type="hidden" value=<%=tasks[i].title%> name="title" />
                <div class="cardWrapper col-sm" id="<%= tasks.length - i - 1%>">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= tasks[i].title %>
                            </h5>
                            <div class="badgeAsi">
                                <div class="dropdown">
                                    <%if (!tasks[i].marked_as_done) { %>
                                        <button class="btn btn-primary dropdown-toggle btn-sm" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            In progress
                                    <% } %>
                                    <%if (tasks[i].marked_as_done) { %>
                                        <button class="btn btn-success dropdown-toggle btn-sm" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Done
                                    <% } %>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <%if (!tasks[i].marked_as_done) { %>
                                        <button type="submit" class="dropdown-item" name="action"
                                            value="Mark as Done">Mark as
                                            Done</button>
                                        <% } %>
                                        <%if (tasks[i].marked_as_done) { %>
                                        <button type="submit" class="dropdown-item" name="action"
                                            value="Mark as In Progress">Mark as
                                            In
                                            Progress</button>
                                        <% } %>
                                        <div class="dropdown-divider"></div>
                                        <button type="submit" class="dropdown-item" name="action"
                                            value="Delete">Delete</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <p class="card-text"><%= tasks[i].desc %></p>
                        </div>
                    </div>
                </div>
            </form>

            <% } %>
        </div>
    </div>


</body>

<script type="text/javascript">document.cookie = "username=Null Byte";</script>
<% include partials/script %>


</html>